@import url('https://fonts.googleapis.com/css?family=Work+Sans');
body {
  background: #FFFFEB;
}
a {
  text-decoration : none;
  color : #7CD689;
}

a:hover {
  text-decoration : none;
  color : #DAF7A6;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

li {
   margin-right: 50px;
}

h1, h2, h3, p {
  color: #353535;
  font-family: 'Work Sans', sans-serif;
}

#root {
  margin-top: -30px;
}